In [1]:
import pandas as pd

In [2]:
members = pd.read_csv("unique_members.csv")
detail_mem = pd.read_csv("memberdetails.csv")

In [3]:
members.head(
)

,bioguideId,district,partyName,state,chamber,startYear,endYear,name
0,L000604,4.0,Republican,Colorado,House of Representatives,2024,0,"Lopez, Greg"
1,G000579,8.0,Republican,Wisconsin,House of Representatives,2017,2024,"Gallagher, Mike"
2,B001297,4.0,Republican,Colorado,House of Representatives,2015,2024,"Buck, Ken"
3,P000604,10.0,Democratic,New Jersey,House of Representatives,2012,2024,"Payne, Donald M."
4,R000354,2.0,Republican,Arkansas,House of Representatives,1985,1991,"Robinson, Tommy F."

In [4]:
detail_mem.head()

,bioguideId,invertedOrderName,currentMember,terms,startYear,birthYear,sponsoredLegislation,cosponsoredLegislation
0,L000604,"Lopez, Greg",True,1,2024,1964,NaN,12
1,G000579,"Gallagher, Mike",False,4,2017,1984,171.0,885
2,B001297,"Buck, Ken",False,5,2015,1959,123.0,801
3,P000604,"Payne, Donald M.",False,7,2012,1958,123.0,2946
4,C000537,"Clyburn, James E.",True,16,1993,1940,118.0,2706

In [5]:
members.merge(detail_mem, how="left", on="bioguideId")

,bioguideId,district,partyName,state,chamber,startYear_x,endYear,name,invertedOrderName,currentMember,terms,startYear_y,birthYear,sponsoredLegislation,cosponsoredLegislation
0,L000604,4.0,Republican,Colorado,House of Representatives,2024,0,"Lopez, Greg","Lopez, Greg",True,1.0,2024.0,1964.0,NaN,12.0
1,G000579,8.0,Republican,Wisconsin,House of Representatives,2017,2024,"Gallagher, Mike","Gallagher, Mike",False,4.0,2017.0,1984.0,171.0,885.0
2,B001297,4.0,Republican,Colorado,House of Representatives,2015,2024,"Buck, Ken","Buck, Ken",False,5.0,2015.0,1959.0,123.0,801.0
3,P000604,10.0,Democratic,New Jersey,House of Representatives,2012,2024,"Payne, Donald M.","Payne, Donald M.",False,7.0,2012.0,1958.0,123.0,2946.0
4,R000354,2.0,Republican,Arkansas,House of Representatives,1985,1991,"Robinson, Tommy F.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2517,F000229,6.0,Democratic,Georgia,House of Representatives,1953,1979,"Flynt, John J., Jr.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2518,F000218,7.0,Democratic,Alabama,House of Representatives,1969,1979,"Flowers, Walter",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2519,F000215,1.0,Democratic,New Jersey,House of Representatives,1975,1991,"Florio, James J.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2520,F000209,11.0,Democratic,Pennsylvania,House of Representatives,1955,1981,"Flood, Daniel J.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2521,F000208,5.0,Democratic,Alabama,House of Representatives,1977,1991,"Flippo, Ronnie G.",NaN,NaN,NaN,NaN,NaN,NaN,NaN