In [1]:
import pandas as pd

In [2]:
members = pd.read_csv("unique_members.csv")
detail_mem = pd.read_csv("memberdetails.csv")

In [3]:
members.head(
)

,bioguideId,district,partyName,state,chamber,startYear,endYear,name
0,L000604,4.0,Republican,Colorado,House of Representatives,2024,0,"Lopez, Greg"
1,G000579,8.0,Republican,Wisconsin,House of Representatives,2017,2024,"Gallagher, Mike"
2,B001297,4.0,Republican,Colorado,House of Representatives,2015,2024,"Buck, Ken"
3,P000604,10.0,Democratic,New Jersey,House of Representatives,2012,2024,"Payne, Donald M."
4,R000354,2.0,Republican,Arkansas,House of Representatives,1985,1991,"Robinson, Tommy F."

In [4]:
detail_mem.head()

,bioguideId,invertedOrderName,currentMember,terms,startYear,birthYear,sponsoredLegislation,cosponsoredLegislation
0,L000604,"Lopez, Greg",True,1,2024,1964,NaN,12
1,G000579,"Gallagher, Mike",False,4,2017,1984,171.0,885
2,B001297,"Buck, Ken",False,5,2015,1959,123.0,801
3,P000604,"Payne, Donald M.",False,7,2012,1958,123.0,2946
4,C000537,"Clyburn, James E.",True,16,1993,1940,118.0,2706